<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JPREntities" connectionString="metadata=res://*/JPRModel.csdl|res://*/JPRModel.ssdl|res://*/JPRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TRUEVISION-PC;Initial Catalog=JPR;User ID=sa;Password=sa123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="FilePath" value="C:\JPRDoc\" />
  </appSettings>
</configuration>